<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yangi mahsulot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
</head>
<body style="background-color: #6B7AA1;">
    <div class="ui pointing menu teal">
      <a href="/dashboard" class="item">
          <i class="home icon teal"></i>
          <b>Ish stoli</b>
      </a>
      <a href="/imports/1" class="item">
          <i class="arrow alternate circle down outline icon teal"></i>
          <b>Kirimlar</b>
      </a>
      <a href="/sales/1" class="item">
          <i class="arrow alternate circle up outline icon teal"></i>
          <b>Sotuvlar</b>
      </a>
      <a href="/add_item" class="active item">
          <i class="cart arrow down icon teal"></i>
          <b>Mahsulot qo'shish</b>
      </a>
      <a href="/items" class="item">
          <i class="external alternate icon teal"></i>
          <b>Mahsulot sotish</b>
      </a>
      <div class="right menu">
        <div class="item">
            <a href="/stop" class="item">
                <i class="power off icon"></i>
                <b>Serverni o'chirish</b>
            </a>
        </div>
      </div>
    </div>
        
    <div class="ui segment">
      
      <h2 class="ui header">Mavjud mahsulot nomlari:</h2>
      <ul>
          {% for name in names %}
          <li>{{ name }}</li>
          {% endfor %}
      </ul>

      <div class="ui inverted divider"></div>

      <h2>Yangi mahsulot qo'shish</h2>

      <form class="ui form" action="/add_item" method="post">
              
              <div style="display: flex; flex-direction: column; width: 80%;" class="container">
                  <div class="ui right labeled input">
                  <label class="ui label teal">Mahsulot nomi:</label>
                  <input type="text" name="name" placeholder="Mavjud tovarlar nomidan birini yoki yangisini kiriting.">
                  </div>
                  <br>
                  <div class="ui right labeled input">
                  <label class="ui label teal">Mahsulot soni:</label>
                  <input type="number" name="count" placeholder="kiritilmaganda avtomatik ravishda 0 ni qabul qiladi.">
                  </div>
                  <br>
                  <div class="ui right labeled input">
                      <label for="amount" class="ui label teal">Narxi</label>
                      <input type="number" placeholder="So'm" name="in_price">
                  </div>
                  <br>
                  <button class="ui teal submit button" type="submit">Kiritish</button>
                  <br>
              </div>

      </form>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p class="ui warning message">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </p>
            {% endif %}
          {% endwith %}


    </div>
    

    
</body>
</html>