<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ish stoli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
</head>
<body style="background-color: #6B7AA1;">
  <div class="ui pointing menu teal">
    <a href="/dashboard" class="active item">
        <i class="home icon teal"></i>
        <b>Ish stoli</b>
    </a>
    <a href="/imports/1" class="item">
        <i class="arrow alternate circle down outline icon teal"></i>
        <b>Kirimlar</b>
    </a>
    <a href="/sales/1" class="item">
        <i class="arrow alternate circle up outline icon teal"></i>
        <b>Sotuvlar</b>
    </a>
    <a href="/add_item" class="item">
        <i class="cart arrow down icon teal"></i>
        <b>Mahsulot qo'shish</b>
    </a>
    <a href="/items" class="item">
        <i class="external alternate icon teal"></i>
        <b>Mahsulot sotish</b>
    </a>
    <div class="right menu">
        <div class="item">
            <a href="/stop" class="item">
                <i class="power off icon"></i>
                <b>Serverni o'chirish</b>
            </a>
        </div>
    </div>
  </div>
        
          <div class="ui segment ">
            <h3 class="ui header">Jami mavjud mahsulotlar:</h3>
            <p>{{ response.count_items }}</p>
            <div class="ui inverted divider"></div>
            <h3 class="ui header">Mavjud mahsulot turlari:</h3>
            <ul>
                {% for name in response.names %}
                <li>{{ name }}</li>
                {% endfor %}
            </ul>
            <div class="ui inverted divider"></div>
            <h3 class="ui header">Oxirgi kirim:</h3>
            <h5 class="ui header">{{last_in_name}}</h5>
            <p>{{ response.last_in_date }}</p>
            <div class="ui inverted divider"></div>
            <h3 class="ui header">Oxirgi savdo:</h3>
            <h5 class="ui header">{{last_out_name}}</h5>
            <p>{{ response.last_out_date }}</p>
          </div>
        
</body>
</html>