<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xayir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
    <style type="text/css">
      body {
        background-color: #6B7AA1;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }

      @media (min-height: 320px) {
        .ui.footer { /* Increased specificity for SO snippet priority */
          position: absolute;
          bottom: 0;
          width: 110%;
        }
      }
    </style>
    
</head>
<body>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui image inverted header">
            <div class="field">
                Server o`chirildi. Oynani yopishingiz mumkin
            </div>
          </h2>
    </div>
  </div>

  <div class="ui inverted footer segment">
    <div class="ui container">
      Muallif: <a href="https://t.me/RajabovDoniyorbek">Rajabov Doniyorbek</a>
    </div>
  </div>

</body>


</html>