<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
    <script src="{{ url_for('static', filename='semantic-ui/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic-ui/components/form.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic-ui/components/transition.js') }}"></script>
    <style type="text/css">
      body {
        background-color: #6B7AA1;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
    </style>
    <script>
      $(document)
        .ready(function() {
          $('.ui.form')
            .form({
              fields: {
                password: {
                  identifier  : 'password',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'Iltimos parolni kiriting'
                    },
                    {
                      type   : 'length[3]',
                      prompt : 'Juda qisqa parol kiritdingiz.'
                    }
                  ]
                }
              }
            })
          ;
        })
      ;
      </script>
</head>
<body>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      
      <form class="ui large form" action="/login" method="post">
        <div class="ui stacked segment">
          <h2 class="ui teal image header">
            <div class="content">
              Parolni kiriting
            </div>
          </h2>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large teal submit button">Kirish</div>
        </div>
  
        <div class="ui error message"></div>

      </form>
      
      <div class="ui message">
        Bilmaysizmi? <a href="/stop">Serverni o'chiring.</a>
      </div>
    </div>
  </div>
</html>