<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <style>
        .container {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
        .title {
        text-align: center;
        border: 3px solid purple;
        }
        form {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        #name {
            margin: 15px;
        }
    </style>
</head>
<body>
    <div id=main>
        <div class=container><h1 class="title">Items</h1></div>
        <div class="container">
            <ul>
                {% if items %}
                {% for item in items %}
                <li>{{ item.name }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="container">
            <form action="http://127.0.0.1:5000/items" method="post">
                <input size="70" type="text" name="name" id="name">
                <input type="submit" value="Kiritish">
            </form>
        </div>


    </div>
    <script src="stop_server.js"></script>
</body>
</html>