<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ish stoli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
</head>
<body style="background-color: #6B7AA1;">
  <div class="ui pointing menu teal">
    <a href="/dashboard" class="item">
        <i class="home icon teal"></i>
        <b>Ish stoli</b>
    </a>
    <a href="/imports/1" class="item">
        <i class="arrow alternate circle down outline icon teal"></i>
        <b>Kirimlar</b>
    </a>
    <a href="/sales/1" class="item">
        <i class="arrow alternate circle up outline icon teal"></i>
        <b>Sotuvlar</b>
    </a>
    <a href="/add_item" class="item">
        <i class="cart arrow down icon teal"></i>
        <b>Mahsulot qo'shish</b>
    </a>
    <a href="/items" class="item">
        <i class="external alternate icon teal"></i>
        <b>Mahsulot sotish</b>
    </a>
    <div class="right menu">
      <div class="item">
          <a href="/stop" class="item">
              <i class="power off icon"></i>
              <b>Serverni o'chirish</b>
          </a>
      </div>
  </div>
  </div>
    
      


        <div class="ui placeholder segment">
          <div class="ui two column stackable center aligned grid">
            <div class="ui vertical divider"><i class="angle double right icon"></i></div>
            <div class="middle aligned row">

              <div class="column">
                <h3 class="ui header block teal">Nomi:</h3>
                <b>{{ item.name }}</b>
                <h3 class="ui header block teal">Miqdori:</h3>
                <b>{{ item.count }}</b>
                <h3 class="ui header block teal">Oxirgi kirim sanasi:</h3>
                <b>{{ item.in_time }}</b>
                <h3 class="ui header block teal">Kirim narxi:</h3>
                <b>{{ item.in_price }}</b>
              </div>

              <div class="column">
                  <h2 class="header">Sotish:</h2>
                  <form action="{{ '/items/%s'%item.id|urlencode }}" method="post" style="margin: 10%;">

                    <div style="display: flex; flex-direction: column; width: 80%;" class="container">
                      <div class="ui labeled input">
                        <label class="ui label teal">Mahsulot soni:</label>
                        <input type="number" name="count" placeholder="Nechtasi sotasiz?" min="1" max="{{ '%s'%item.count|urlencode }}" oninvalid="this.setCustomValidity('Buncha mahsulot omborda yo`q')" oninput="this.setCustomValidity('')">
                      </div>
                      <br>
                      <br>
                      <div class="ui labeled input">
                        <label for="amount" class="ui label teal">Narxi</label>
                        <input type="number" placeholder="So'm" name="out_price">
                      </div>
                      <br>
                      <br>
                        <button class="ui blue submit button teal" type="submit">Sotish</button>
                    </div>
                   </form>
                   {% with messages = get_flashed_messages() %}
                   {% if messages %}
                   <p class="ui warning message">
                     {% for message in messages %}
                       {{ message }}
                     {% endfor %}
                   </p>
                   {% endif %}
                 {% endwith %}
              </div>
            </div>
          </div>

</div>
</body>
</html>